@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] {
    display: none;
}
html, body {
    font-family: 'Vazir', sans-serif;
}
* {
    font-family: 'Vazir', sans-serif !important;
}
